PORT=4000
DATABASE_URL="postgresql://crm_user:crm_password@localhost:5433/minicrm_db?schema=public"
JWT_SECRET="your_jwt_secret_key_here"
JWT_EXPIRES_IN="7d"

# Datos iniciales para el Seeder del Administrador
ADMIN_NAME="Administrador CRM"
ADMIN_EMAIL="admin@crm.com"
ADMIN_PASSWORD="admin123"
